@all = [% usernames.join(", ") %]

repo gitolite-admin
    RW+     =   git2

repo testing
    RW+     =   @all

[% FOREACH repo IN repos %]
repo [% repo.projectname %]/[% repo.reponame %] 
    RW+     =   @all

[% END %]
