
repo gitolite-admin
    RW+     =   id_rsa

repo testing
    RW+     =   @all

[% FOREACH repo IN config.repos.keys.sort %]
repo [% config.repos.$repo.project %]/[% repo %] 
    RW+     =   @all

[% END %]
