[% USE Dumper(Pad='#') %]
[% Dumper.dump(config) %]
[% IF config.sshkeys.size > 0 %]
@all = [% config.sshkeys.keys.join(", ") %]
[% END %]

repo gitolite-admin
    RW+     =   [% env.LOGNAME %]

repo testing
    RW+     =   @all

[% FOREACH repo IN config.repos.keys.sort %]
repo [% config.repos.$repo.project %]/[% repo %] 
    RW+     =   @all

[% END %]
