<h1>Repositories in Project [% project %]</h1>
<div>
<table border=1>
<tr><th>Repository</th><th>Description</th></tr>
[% FOREACH reponame IN config.projects.$project.repos.keys.sort %]
[% repo = config.projects.$project.repos.$reponame %]
<tr><td><a href="/repo/[% project %]/[% reponame %]">[% reponame %]</a></td><td>[% repo.description %]</td></tr>
[% END %]
</table>
</div>
<br>
<button onclick="window.location.href='/newrepo/[% project %]'">Create Repo</button>
