[% IF files.size == 0 %]
<h2>
touch README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin [% user %]://[% hostname %]:[% project %]/[% repo %].git
git push -u origin master
</h2>
[% ELSE %]


[% END %]
