[% USE Dumper %]
<!--
[% Dumper.dump( repo ) %]
-->
<table border="0">
[% FOREACH file IN config.repos.$repo.files.keys.sort %]
   <tr><td><a href="/file/[% project %]/[% repo %]/[% file %]"</a>[% file %]</td></tr>
[% END %]
</table>
