<style>
textarea { width:900px;
           border:0;
           }
</style>
<h1>SSH Keys</h1>
<table style="width:1000px" border=1>
<tr><th>Name</th><th>ssh key</th></tr>
[% FOREACH sshkey  IN sshkeys.keys.sort %]
<tr>
    <td width="10%">[% sshkey %]</td>
    <td width="90%"><textarea cols="200" rows="6" wrap="hard">[% sshkeys.$sshkey %]</textarea></td>
</tr>
[% END %]
</table>
<br>
